127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# AAP project
{% for host in groups['all'] %}
{{ hostvars[host].ansible_facts['eth1']['ipv4']['address'] }} {{ host }}
{% endfor %}
10.0.0.94 aap-vip
